.air-admin-link-wrapper {
  height: 40px;
  background: #333;
}

.air-container {
}

.air-links-trigger {
  display: block;
}

.air-links-trigger a {
  letter-spacing: 1px;
  margin: 4px 4px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
}
.air-links-trigger a:hover {
  color: #333;
  text-decoration: none;
  background: #ccc
}

.air-link-text {
    display: none;
}


ul.air-links-list {
  position: absolute;
  z-index: 1000;
  margin: 11px 0 0 40px;
}

ul.air-links-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 85%;
}

ul.air-links-list li a {
  padding: 5px 10px;
  border-radius: 3px;
  background: #333;
  color: white;
  text-decoration: none;
}